:root {
    --maincolor: #FFF;
    --descricao: #748296;
    --link: #5F2278;
    --black: black;
}

.Solucao-container{
    width: auto;
    min-height: 130vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--maincolor);
    padding: 20px;
    padding-top: 0%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.textInicial{
    line-height: 1.5em;
    font-size: 14px;
    color: var(--descricao);
    word-spacing: 5px;
}

.titulo_solucoes1 {
    font-size: 24px;
    color: var(--black);
    font-weight: bold;
    text-align: left;
    align-self: flex-start; 
    margin-top: 20px;
}

.txtSolucao{
    background: linear-gradient(to right, #A718A1, #5F2278); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
}
.titulo_solucoes, .txtSolucao{
    margin-bottom: 20px;
}
.linha_solucoes img{
    width: 70px;
}
.titulo2_solucoes{
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
}
.txt_nossas_solucoes{
    background: linear-gradient(to right, #A718A1, #5F2278); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 24px;
}

.img_telas_app{
    width: 100%;
    height: auto;
}

.linha_solucoes1 {
    margin-top: 70px;
    margin-left: 0;
    width: auto; 
}

.linha_solucoes {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.titulo2_solucoes, .txt_nossas_solucoes{
    margin-top: 30px;
}
.img_telas_app{
    margin-top: 20px;
}
.titulo_mgp{
    color: var(--black);
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.descricao_mgp{
    line-height: 1.5;
    text-align: justify;
    font-size: 13px;
    font-family: inter;
    color: var(--descricao);
}
.btn_link{
    background: linear-gradient(to right, #A718A1, #5F2278);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 24px; 
    font-weight: bold;
    padding-top: 15px;
    text-align: right;
}
.emBreve{
    color: var(--descricao);
    font-size: 13px;
    padding-bottom: 20px;
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {
    .titulo_solucoes1, .txtSolucao, .titulo2_solucoes, .txt_nossas_solucoes{
        font-size: 35px;
    }
    .textInicial{
        font-size: 20px;
        display: flex;
    }
    .linha_solucoes1{
        align-self: self-start;
        padding-top: 20px;
        
    }
    .img_telas_app{
        width: 500px;
        height: 315px;
        align-self: self-start;
    }
    .titulo_mgp, .descricao_mgp, .btn_link{
        position: relative;
        bottom: 14em;
    }
    .titulo_mgp{
        left: 8.5em;
    }
    .descricao_mgp{
        max-width: 40%;
        left: 19em;
        bottom: 23em;
        line-height: 2;
    }
    .Solucao-container{
        padding-left: 4em;
        height: 100vh;
        justify-content: flex-start;       
    }
    .btn_link{
        bottom: 19em;
        left: 24em;
    }
    .emBreve{
        position: relative;
        bottom: 10em;
        font-size: 20px;
    }
}
@media screen and (min-width: 1440px){
    .textInicial{
        display: flex;
        align-self: flex-start;
        margin-top: 2rem;
    }
    .img_telas_app{
        width: 600px;
        height: 415px;
        align-self: self-start;
        margin-top: 5rem;
    }
    .Solucao-container{
        height: 130vh;
    }
    .descricao_mgp{
        max-width: 50%;
        left: 16em;
        bottom: 17em;
        line-height: 2;
        font-size: 20px;
    }
    .titulo_mgp{
        left: 5em;
        bottom: 15em;
        font-size: 25px;
    }
    .btn_link{
        font-size: 25px !important;
        bottom: 12em;
        left: 19em;
    }
    .img_vector{
        width: 15px;
        height: 15px;
    }
}