:root {
    --maincolor: #FFF;
    --descricao: #748296;
    --link: #e94f89;
}
.Solucao-container{
    width: 100vw;
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--maincolor);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.textInicial{
    
    line-height: 2;
    font-size: 14px;
    color: var(--descricao);
    word-spacing: 5px;
}
.titulo {
    font-size: 24px;
    color: #1A202C;
    text-align: left;
    align-self: flex-start; /* Alinha o elemento ao início (esquerda) */
}


.txtSolucao{
    color: #A718A1;
    font-weight: bold;
}