:root {
    --main-color: #FFF;
    --roxo: #5F2278;
    --rosa: #4B0082;
    --linha: #978383;
}

.main-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background: linear-gradient(to top, #5F2278, #A718A1);
    width: 100%;
    padding: 2rem 1rem;
    margin-top: auto;
}

.duvida{
    color: var(--main-color);
    font-size: 14px;
}

.frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

.logo_footer {
    width: 40px;
    height: auto;
}

.titulo_img, .subtitulo_img {
    color: var(--main-color);
    font-size: 14px;
}

.nav-bar {
    padding-top: 1.5em;
}

.titulo_link {
    color: var(--main-color);
    font-weight: bold;
    font-size: 14px;
}

.lista {
    list-style-type: none;
    color: var(--main-color);
    padding-left: 0;
    font-size: 14px;
}

.lista a {
    color: var(--main-color);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.lista a:hover {
    color: var(--rosa);
    transform: scale(1.1);
}

.footer-contact {
    padding-top: 1em;
}

.contact {
    font-size: 14px;
    font-weight: bold;
    color: var(--main-color);
}

.footer-social {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-social img {
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.2);
}

.footer-copyright {
    border-top: 1px solid var(--linha);
    text-align: center;
    font-size: 12px;
    color: var(--main-color);
    padding-top: 1rem;
}

  


