:root {
    --maincolor: #FFF;
    --descricao: #748296;
    --link: #e94f89;
    --black: black;
}

.contact-section {
    width: 100vw;
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--maincolor);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.social-button {
    width: 100%;
    max-width: 320px;
    border-width: 2px;
    border-radius: 50px;
    margin-bottom: 10px;
    background-color: purple;
    color: var(--maincolor);
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}

.star-icon {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 80px;
    height: auto;
}

.star-icon img {
    width: 100%;
    height: auto;
}

.star-icon-small {
    position: relative;
    right: 50%;
}

.contact-text {
    padding-top: 1em;
    font-size: 0.9rem;
    text-align: center;
    color: var(--descricao);
    max-width: 90%;
    line-height: 1.5;
    margin-bottom: 25px;
}

.contact-title {
    color: var(--black);
    font-weight: bold;
}

.contact-title, .contact-highlight, .contact-subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 80px;
}

.contact-subtitle, .contact-highlight {
    font-weight: bold;
}

.contact-highlight {
    color: #A718A1;
}

.social-icon {
    width: 20px;
    height: 20px;
}

.social-link {
    width: 100%;
    max-width: 320px;
}

.illustration img {
    max-width: 100%;
}

.illustration {
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 1rem;
    z-index: 1;
    position: relative;
    margin-bottom: 1.10em;
}

.transparent-illustration img {
    max-width: 100%;
    height: auto;
}

.transparent-illustration {
    position: absolute;
    top: 53.4em; 
    width: 88vw;
}
