:root {
    --maincolor: #FFF;
    --descricao: #748296;
    --link: #5F2278;
    --black: black;
}

*{
    box-sizing: border-box;
    max-width: 100vw;
}

.contact-section {
    width: 100vw;
    min-height: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--maincolor);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.social-button {
    width: 100%;
    border-width: 2px;
    border-radius: 50px;
    margin-bottom: 10px;
    background-color: purple;
    color: var(--maincolor);
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}

.star-icon {
    position: absolute;
    top: 7%;
    right: 5%;
    width: 80px;
    height: auto;
}

.star-icon img {
    width: 100%;
    height: auto;
}

.star-icon-small {
    position: relative;
    right: 50%;
}

.contact-text {
    padding-top: 1em;
    font-size: 0.9rem;
    text-align: center;
    color: var(--descricao);
    max-width: 90%;
    line-height: 1.5;
    margin-bottom: 25px;
}

.contact-title {
    color: var(--black);
    font-weight: bold;
}

.contact-title, .contact-highlight, .contact-subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 120px;
}

.contact-subtitle, .contact-highlight {
    font-weight: bold;
}

.contact-highlight {
    color: #A718A1;
}

.social-icon {
    width: 20px;
    height: 20px;
}

.social-link {
    width: 100%;
    max-width: 320px;
}
.button-container{
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    
}

.illustration img {
    max-width: 120%;
}

.illustration {
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 2.5rem;
    z-index: 1;
    position: relative;
    margin-bottom: 1.10em;
}

.transparent-illustration img {
    max-width: 100%;
    height: auto;
}

.transparent-illustration {
    position: absolute; 
    width: 88vw;
}

@media screen and (min-width:320px){
    .transparent-illustration{
        top: 57.7em;
        width: 105%;
    }
}

@media screen and (min-width:375px){
    .transparent-illustration{
        top: 58.2em;
        width: 107%;
    }
}

@media screen and (min-width:425px){
    .transparent-illustration{
        top: 59.4em;
        width: 109%;
    }
}

@media screen and (min-width:768px){
    
    .contact-title, .contact-highlight, .contact-subtitle {
        font-size: 2rem;
        text-align: center;
        margin-top: 120px;
    }
    .contact-text{
        font-size: 1.5rem;

    }
    .button-container{
        max-width: 578px;
    }
    .social-link{
        max-width: 578px;
    }
    .social-button{
        font-size: 1.5rem;
        
    }
    .social-icon{
        width: 30px;
        height: 30px;
    }
    .illustration{
        margin-bottom: 60px;
    }
}



@media screen and (min-width:1440px) {
    
    .contact-highlight, .contact-subtitle, .contact-title{
        font-size: 5rem;
    }
    .button-container { 
        align-self: flex-start; /* Alinha a button-container à esquerda */
        position: relative;
    }
    .social-button {
        margin-bottom: 40px;
    }
    .illustration{
        left: 23%;
        bottom: 65%;       
    }
    
    .contact-highlight, .contact-subtitle, .contact-title, .contact-text{
        align-self: flex-start;
        font-size: 35px;
    }
    .contact-text{
        max-width: 45%;
        text-align: justify;     
        font-size: 20px;   
    }
    
    .contact-section{
        height: 130vh; /* Força a seção a ocupar a altura exata da tela */
        justify-content: flex-start;
        padding-left: 100px;
        width: 100%;
    }
   .star-icon{
        left: 80em;
        top: 9em;
   }
}

    

@media screen and (min-width: 2560px){
    .contact-highlight, .contact-subtitle, .contact-title{
        font-size: 5rem;
        margin-top: 150px;
    }   
    .contact-text{
        font-size: 3rem;
    }
    .button-container{
        max-width: 70em;
        width: 100%;
        
    }
    .social-link {
        width: 100%;
        max-width: 70em;
        
    }
    .social-icon{
        width: 50px;
        height: 50px;
    }
    .social-button{
        font-size: 40px;
        padding: 25px 0;
        margin-bottom: 60px;
    }
    .star-icon {
        width: 200px;
        height: auto;
    }
    .contact-section{
        height: 170vh; /* Força a seção a ocupar a altura exata da tela */
        justify-content: flex-start;
        padding-left: 100px;       
    }
    .illustration img{
        width: 100%;
    }
    .illustration{
        width: 1250px;
        bottom: 64em;
    }

}