* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #FFF;
    --cinza-claro: #4A5568;
    --roxo: #A718A1;
    --roxo-escuro: #5F2278;
}

body {
    margin: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 
    background-color: var(--main-color);
    width: 100%;
    height: auto;
    z-index: 1000;
    position: fixed;
}

.logo-container {
    flex: 0 0 auto;
}

.logo {
    width: 30px; 
    height: auto;
}

.menu-toggle-container {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end; 
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu-toggle img {
    width: 30px;
    height: auto;
}

.mobile-menu {
    display: none;
}

.menu a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 10px 15px; 
    color: var(--cinza-claro);
    border-radius: 4px;
}

@media screen and (max-width: 1024px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--main-color);
        top: 80px; 
        right: 0; 
        width: 100%;
        padding: 10px;
        z-index: 1001;
        animation: fadeIn 0.5s ease-in-out;
        align-items: flex-end; 
    }

    .mobile-menu a {
        text-align: center; 
        padding: 15px;
        color: var(--cinza-claro);
        border-radius: 4px;
        transition: color 0.3s ease-in-out;
        width: 100%; 
    }

    .mobile-menu a:hover {
        color: var(--roxo);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media screen and (min-width: 1024px) {
    .navbar {
        padding: 1rem 2rem;
    }

    .logo-container {
        margin-right: auto;
    }

    .logo {
        width: 40px; 
    }

    .menu-toggle {
        display: none; 
    }

    .desktop-menu {
        display: flex; 
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        animation: slideIn 0.5s ease-in-out;
    }

    .desktop-menu .link-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px; 
        color: var(--cinza-claro);
        font-size: 16px;
        transition: background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    }

    .desktop-menu .link-desktop:hover {
        color: var(--roxo);
        border-bottom: 2px solid var(--roxo);
    }

    .contato-desktop {
        background: linear-gradient(to left, #5F2278, #A718A1);
        color: #FFF;
        border-radius: 100px;
        padding: 10px 25px; 
        border: none; 
        cursor: pointer; 
        font-size: 16px;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .contato-desktop:hover {
        color: var(--main-color);
        transform: scale(1.05);
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media screen and (min-width: 1440px) {
    .navbar {
        padding: 1rem 3rem;
    }

    .logo {
        width: 50px;
    }

    .desktop-menu .link-desktop {
        padding: 10px 30px;
        font-size: 18px;
    }

    .contato-desktop {
        font-size: 18px;
        padding: 10px 50px;
    }
}

@media screen and (min-width: 2560px) {
    .navbar {
        padding: 1rem 4rem; 
        margin-top: 20px; 
    }

    .logo {
        width: 60px;
    }

    .desktop-menu .link-desktop {
        padding: 15px 40px; 
        font-size: 22px;
    }

    .contato-desktop {
        font-size: 20px;
        padding: 15px 60px;
    }
}
