:root{
    --maincolor: #FFF;
    --descricao: #748296;
    --link: #e94f89;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--maincolor);
    position: relative;
}

.logo_home {
    text-align: center;
    padding-bottom: 2em;
}

.logo_home img {
    padding-top: 160px;
    width: 15.625rem;
    height: auto;
}

.descricao_logo {
    padding-top: 1em;
    font-size: 15px;
    text-align: center;
    color: var(--descricao);
    max-width: 17.5rem;
}

.logo_home a {
    margin-top: 10px;
    text-decoration: none;
    color: var(--link);
    font-weight: bold;
}

.ilustração {
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 1.875rem;
    z-index: 1; 
}

.ilustração img {
    max-width: 100%;
    height: auto;
}

.degrade {
    position: relative;
    width: 100%;
    height: auto;
}

.degrade img {
    width: 100%;
    height: auto;
}

.estrela, .estrela2 {
    position: absolute;
}

.estrela {
    padding-bottom: 30em;
    right: 1.25rem;
}

.estrela2 {
    left: 0.625rem;
}