.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--maincolor);
    position: relative;
    overflow: hidden;
    margin-top: 55vh;
}

.logo_home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_home img {
    margin-top: 5vh;
    width: 15.625rem;
    height: auto;
}

.logo-description {
    margin-top: 0.5em; 
    font-size: 1em; 
    color: #748296;
    text-align: center; 
    max-width: 80%;
}

.saibamais {
    margin-top: 0.5em;
    text-decoration: none;
    color: var(--link);
    font-weight: bold;
    font-size: 1em;
}

.ilustração {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    z-index: 1;
    position: relative;
}

.ilustração img {
    max-width: 100%;
    height: auto;
}

.degrade {
    top: calc(100% + 1rem);
    left: 0;
    z-index: 0;
}

.degrade img {
    width: 100%;
}

.estrela, .estrela2, .estrela3 {
    position: absolute;
}

.estrela {
    transform: rotate(3deg);
    top: 5%;
    right: 5%;
}

.estrela2 {
    transform: rotate(3deg);
    top: 43%;
    left: 5%;
}

.estrela3 {
    display: none;
}

@media (min-width: 1024px) {
    .home-container {
        flex-direction: row;
        padding: 4em 4em;
        align-items: center;
        justify-content: space-around;
    }

    .logo_home {
        text-align: left;
        max-width: 40%;
        align-items: flex-start;
    }

    .logo_home img {
        width: 100%;
        margin-bottom: 1em;
    }

    .logo-description {
        font-size: 1.1em;
        max-width: 100%;
        margin-top: 0.5em;
        line-height: 1.4;
        text-align: left; 
    }

    .saibamais {
        font-size: 1.1em;
        margin-top: 1em;
    }

    .ilustração {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

    .ilustração img {
        width: 100%;
    }

    .degrade {
        position: absolute;
        bottom: -1rem; 
        left: 0;
        width: 55%; 
        z-index: -1;
    }

    .degrade img {
        width: 100%;
    }

    .estrela {
        right: 5%;
        top: 15%;
        transform: scale(2) rotate(3deg);
    }

    .estrela2 {
        left: -1%;
        top: 25%;
        transform: scale(2) rotate(3deg);
    }

    .estrela3 {
        display: block;
        top: 80%;
        left: 35%;
        transform: scale(2) rotate(3deg);
    }
}

@media (min-width: 1440px) {
    .home-container {
        padding: 8em 8em;
    }

    .logo_home img {
        width: 25rem; 
    }

    .logo-description {
        font-size: 1.2em;
    }

    .saibamais {
        font-size: 1.1em;
    }

    .ilustração {
        width: 40%;
    }

    .estrela, .estrela2, .estrela3 {
        transform: scale(2.5) rotate(3deg);
    }
}

@media (min-width: 2560px) {
    .home-container {
        padding: 12em 12em;
    }

    .logo_home img {
        width: 30rem;
    }

    .logo-description {
        font-size: 1.5em;
    }

    .saibamais {
        font-size: 1.3em;
    }

    .ilustração {
        width: 35%;
    }

    .estrela, .estrela2, .estrela3 {
        transform: scale(3);
    }

    .estrela3 {
        display: block;
        top: 90%;
        left: 30%;
        transform: scale(3.5);
    }
}
