:root{
    --maincolor: #FFF;
    --descricao: #748296;
    --link: #e94f89;
}

.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--maincolor);
    position: relative;
    overflow: hidden;
}


.logo_home {
    text-align: center;
    padding-bottom: 2em;
}

.logo_home img {
    margin-top: 180px;
    width: 15.625rem;
    height: auto;
}

.saibamais {
    margin-bottom: 3em;
    text-decoration: none;
    color: var(--link);
    font-weight: bold;
}

.ilustração {
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 3rem;
    z-index: 1; 
}

.ilustração img {
    max-width: 100%;
    height: auto;
}

.degrade img {
    width: 100%;
    height: auto;
}

.estrela, .estrela2 {
    position: absolute;
}

.estrela {
    padding-bottom: 25em;
    right: 1.25rem;
}

.estrela2 {
    left: 0.625rem;
    padding-top: 7em;
}

.estrela3{
    display: none;
}
