:root {
    --maincolor: #FFF;
    --subcolor: black;
    --roxo: #5F2278;
    --descricao: #748296;
}

* {
    box-sizing: border-box;
    max-width: 100vw;
}

body, html {
    overflow-x: hidden;
}

.equipe-container {
    width: 100vw;
    min-height: 100vh; 
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--maincolor);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.section-equipe {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0; 
}

.linha-equipe img {
    margin-bottom: 10px;
}

.text-equipe h1 {
    font-size: 24px;
    line-height: 1.3; 
    margin: 0;
}

.text-tecnologia {
    background: linear-gradient(135deg, #A718A1, #5F2278);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.text-usadas {
    color: black;
    font-weight: bold;
}

.text-nossa {
    color: black;
    font-weight: normal;
}

.carousel-container {
    position: relative;
    width: 100%; 
    overflow: hidden;
    text-align: center;
    margin-top: 20px; 
    display: block;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; 
}

.carousel-slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.carousel-slide img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.carousel-dots {
    margin-top: 10px; 
    display: flex;
    justify-content: center; 
    gap: 10px;
}

.dot {
    height: 2px;
    width: 50px; 
    background-color: #ddd;
    border-radius: 50%; 
    display: inline-block;
    cursor: pointer; 
}

.dot.active {
    background-color: var(--roxo);
}

.conheca {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.conhecanossa {
    font-weight: normal;
    color: var(--subcolor);
}

.conheca-equipe {
    background: linear-gradient(135deg, #A718A1, #5F2278);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.h2-membros {
    font-weight: bold;
    color: var(--subcolor);
}

.desc-membros {
    color: var(--descricao);
    font-weight: normal;
    font-size: 14px;
}

.member-card {
    border: 2px solid var(--roxo);
    border-radius: 10px;
    padding: 50px; 
    text-align: center;
    margin: 0 auto;
    position: relative; 
}

.team-slide {
    margin-top: 70px;
}

.member-image {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%); 
    width: 90px; 
    height: 90px; 
    border-radius: 50%; 
    border: 2px solid var(--roxo);
}

.carousel-controls-team {
    display: flex; 
    justify-content: center;
    gap: 60px;
    margin-top: 20px; 
}

.carousel-button {
    background-color: transparent;
    border: 2px solid var(--roxo);
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
    outline: none;
}

.carousel-button:focus {
    outline: none;
}

.carousel-button:hover {
    background-color: rgba(233, 79, 137, 0.2);
}

.carousel-button:active {
    background-color: transparent; 
}

.carousel-dots-team {
    display: flex; 
    justify-content: center; 
    margin-top: 15px;
    gap: 10px; 
}

.dot-team {
    height: 10px;
    width: 10px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.dot-team.active {
    background-color: var(--roxo);
}

.ferramentas_equipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.linha_ferramentas {
    margin-top: 50px;
    margin-bottom: 10px;
}

.txt_ferramentas {
    display: inline-block;
}

.txt_conhecaas, .ferramentas_utili, .utili_equipe {
    font-size: 24px;
    margin-right: 5px;
}

.txt_conhecaas {
    color: var(--subcolor);
    font-weight: normal;
}

.ferramentas_utili {
    background: linear-gradient(135deg, #A718A1, #5F2278);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

.utili_equipe {
    color: var(--subcolor);
    font-weight: bold;
}

.info-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    max-width: 600px;
    margin: 16px auto;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info-content {
    display: flex;
    align-items: center;
}

.info-image {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    border-radius: 8px;
}

.info-text {
    max-width: 450px;
}

.info-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: #212121;
}

.info-description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.info-description a {
    color: #1a73e8;
    text-decoration: none;
}

.info-description a:hover {
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .equipe-container{
        padding-top: 70px;
    }

    .text-equipe h1 {
        font-size: 25px;
    }

    .carousel-container {
        padding: 20px;
        overflow: visible;
        pointer-events: none; 
    }

    .carousel {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        transform: none; 
    }

    .carousel-slide {
        min-width: auto; 
        flex: 0 1 auto; 
    }

    .carousel-slide img {
        margin: 0 10px;
        width: 100%;
        height: 120px;
    }

    .carousel-dots,
    .dot {
        display: none;
    }

    .member-card {
        padding: 20px;
        width: 400px;
        height: 200px;
    }

    .member-image {
        width: 30%;
        height: 55%;
        object-fit: cover;
    }

    .h2-membros {
        padding-top: 50px;
    }

    .desc-membros {
        padding-top: 20px;
    }

    .carousel-controls-team {
        gap: 510px;
    }

    .carousel-dots-team {
        padding-bottom: 30px;
        gap: 20px;
    }

    .carousel-button {
        border-radius: 50%;
    }

    .team-slide {
        margin-top: 65px;
    }

    .info-card-container {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 16px; 
        min-height: 400px; 
    }

    .info-card {
        display: flex; 
        align-items: center; 
        justify-content: flex-start; 
        padding: 8px; 
        border: 1px solid #ccc; 
        border-radius: 8px; 
    }    
}

@media (min-width: 1440px) {
    .equipe-container{
        padding: 80px;
    }

    .desc-membros{
        font-size: 18px;
    }

    .text-equipe h1 {
        font-size: 30px;
    }

    .carousel-slide img {
        margin: 10px 50px;
    }

    .member-card {
        padding: 25px;
        width: 500px;
        height: 200px;
    }

    .member-image {
        width: 25%;
        height: 55%;
    }

    .h2-membros {
        font-size: 25px;
    }

    .carousel-dots-team {
        padding-bottom: 30px;
        gap: 20px;
    }

    .carousel-button {
        border-radius: 50%;
    }

    .info-card-container {
        grid-template-columns: repeat(3, 1fr); 
        height: 450px;
    }

    .conheca{
        font-size: 30px;
    }

    .txt_ferramentas .txt_conhecaas, .ferramentas_utili, .utili_equipe{
        font-size: 30px;
    }
}

